<html>
    <body>
        
        <h1>Waiting</h1>
        <form class="container" method="POST" action="">
            {% csrf_token %}
            <button type="submit" class="btn" style="display: none">Submit</button>
            
        </form>     
        <script>
            // let username="{{  user }}";
            // let final_room_name = username+Math.floor((Math.random() * 9999) + 1);
                         
            // function myFunction() {
            //     if(document.querySelector("#room").value==""){
            //       document.querySelector("#room").value=final_room_name
            //     }
                
            //     document.querySelector(".btn").click();
            //     }
            document.querySelector(".btn").click();
        </script>
    </body>
</html>